@model PasswordResetDto

@{
    Layout = "_ForgetLayout";
    ViewData["Title"] = "Şifre Sıfırlama";
}

<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="h1"><b>Tigris</b>Tech</a>
        </div>
        <div class="card-body">
            @if (ViewBag.status == "success")
            {
                
                <p class="login-box-msg text-primary">Şifre yenileme linki e-posta adresinize gönderilmiştir. E-postanızı kontrol ediniz</p>
            }
            else
            {
            <p class="login-box-msg">
                Yeni şifre belirlemek için kayıtlı e-posta adresinizi yazınız.
                Şifre değiştirme linkini e-posta adresinize göndereceğiz.
            </p>
            <form asp-action="ResetPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group mb-3">

                    <input asp-for="Email" class="form-control" type="email" class="form-control" placeholder="Email" />
                    <div class="input-group-append">
                        <div class="input-group-text">

                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block"><span class="fas fa-sign-in-alt"></span>Gönder</button>
                    </div>

                </div>
            </form>
            <p class="mt-3 mb-1">
                <a asp-area="Admin" asp-controller="Home" asp-action="ProtecedPage">Giriş Yap</a>
            </p>
            }

        </div>

    </div>
</div>

