@model PasswordResetDto
@{
    Layout = "_ForgetLayout";
    ViewData["Title"] = "Şifre Sıfırlama ve Onayı";
}

<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
           <a asp-area="" asp-controller="Home" asp-action="Index" class="h1"><b>Tigris</b>Tech</a>
        </div>
        <div class="card-body">
            @if (ViewBag.status == "success")
            {
                <div class="login-box-msg text-primary">Şifreniz başarıyla yenilenmiştir. Giriş sayfasından yeni şifreniz ile giriş yapabilirsiniz.</div>
            <a class="btn btn-link" asp-action="Login" asp-controller="Auth">Giriş için tıklayınız.</a>
            }
            else
            {
                  <p class="login-box-msg">Şifre Yenileme Formu</p>
            <form asp-action="ResetPasswordConfirm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="PasswordNew" type="password" class="form-control" placeholder="Şifre" >
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span asp-validation-for="PasswordNew"  class="fas fa-lock" ></span>
                        </div>
                    </div>
                </div>             
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Yeni şifre oluştur</button>
                    </div>

                </div>
            </form>
            }
          
        </div>

    </div>
</div>


